<nav>
    <ul>
        <li *ngFor="let item of menuService.items">
            <spa-menu-item
                [item]="item"
                [parentIsPopup]="false"
                [ngClass]="{ 'vertical-menu': menuService.isVertical }"
            >
            </spa-menu-item>
        </li>
    </ul>
</nav>
<div [ngClass]="menuService.isVertical ? 'dropup' : 'dropleft'">
    <button
        class="btn btn-default btn-sm dropdown-toggle"
        [ngClass]="{ horizontal: !menuService.isVertical }"
        *ngIf="!menuService.showVerticalMenu"
        (click)="menuService.toggleOrientation()"
    ></button>
</div>
