:host {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
}

:host(.vertical-menu) {
    display: inline-block;
    max-width: 160px;
    min-width: 160px;
    height: 100vh;
    padding-left: 4px;
    flex-grow: 0;
    background-color: #16484b;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

div {
    margin-top: 20px;

    button {
        background-color: #eee;

        &.horizontal {
            margin-left: 20px;
            margin-bottom: 7px;
        }
    }
}