:host {
    display: inline-block;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 16px;
    line-height: 6px;
    color: #eee;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;

    &:not(.parent-for-popup) {
        margin-left: 16px;
        width: auto;
    }
}

:host(.vertical-menu) {
    display: block;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

:host(div.vertical-menu) {
    font-size: 10px;
}

:host(.vertical-menu .menu-item) {
    font-size: 12px;
    padding: 3px 15px 3px 8px;
}

.menu-item {
    padding: 10px 6px 10px 4px;
    transition: all 0.2s ease;

    &:hover {
        transform: scale(1.05);
        background-color: #148189d7;
        border-radius: 0.2rem;
    }
}

.icon {
    top: -2px;
    position: relative;
    margin-right: 4px;

    img {
        width: 22px;
        height: 22px;
    }
}

.active {
    outline: none;
    background-color: #15a3ad;
    border-radius: 0.2rem;
}